<h1>GUUZEN_APP</h1>

<p>こんにちは！ <%= @user.name %>さん、</p>

<p>
クリックして確認
</p>

<%= link_to "アカウントの有効化", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>